<form class="create-form">

	  <div class="form-group">
    <label for="team">{{week16}}</label><br>
    <input type="radio" 
    <br>
    <input type="radio" name="team" value="{{away}}"> {{away}}
  </div>


  <button type="submit" class="pick">Make your pick</button>
  
</form>

<li>

	<button class="update choice" data-id="{{this.id}}">update choice</button>
  </li>